@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Ajuda a manter o tamanho correto com paddings */
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    /* Centralização usando Flexbox */
    display: flex;
    justify-content: center; 
    align-items: center;     
    
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center;  
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: relative;
    /* Usando vh para o celular diminuir em telas menores */
    height: 90vh; 
    min-height: 400px;
    max-height: 700px;
    
    /* Mantém a proporção largura/altura do iPhone */
    aspect-ratio: 311 / 627; 
    
    background: url('../imagens/frame-iphone.png') no-repeat center center;
    background-size: contain;
}

iframe#tela {
    position: absolute;
    /* Ajustes em porcentagem para o iframe acompanhar o redimensionamento do celular */
    top: 12.8%; 
    left: 7%;
    width: 86.5%;
    height: 75.2%;
    border: none;
}